{{> header }}



    <!-- Portfolio Grid Section -->
    <section id="libraries">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Libraries</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-lg-4 portfolio-item" style="text-align: center;">
                <h3>Television</h3>
                <a href="/media/tv" class="portfolio-link"  data-key="{{ key }}" style="display: inline-block">
                    <img src="/assets/img/tv.png" class="img-responsive" alt="">
                </a>
              </div>
              <div class="col-xs-6 portfolio-item" style="text-align: center;">
                <h3>Movies</h3>
                <a href="/media/movies" class="portfolio-link"  data-key="{{ key }}"  style="display: inline-block">
                    <img src="/assets/img/movies.png" class="img-responsive" alt="">
                </a>
              </div>
            </div>
        </div>
    </section>


    {{> footer }}


</body>

</html>
